@import "../../../css-config/mixins.scss";
.hero-banner {
  padding: 40px 0;
  position: relative;
  @include md {
    height: calc(100vh - 80px);
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    gap: 20px;
    @include md {
      flex-direction: row;
      max-width: 1200px;
    }
    .banner-img {
      position: relative;
      z-index: 9;
      width: 200px;
      margin-bottom: 20px;
      @include md {
        width: 500px;
        margin-right: 60px;
        margin-top: 50px;
        margin-bottom: 0;
      }
      @include xxl {
        width: 600px;
        margin-right: 0;
        margin-top: 0;
      }
    }
    .text-content {
      color: #f5f5f5;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 100;

      @include md {
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include xxl {
        left: 0;
      }
      h1 {
        font-size: 80px;
        font-weight: 700;
        line-height: 1;
        color: #ffff00;
        margin-bottom: 20px;
        @include md {
          font-size: 180px;
        }
      }
      p {
        max-width: 300px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
        @include md {
          max-width: 500px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 40px;
        }
      }
      .ctas {
        display: flex;
        justify-content: center;
        gap: 20px;
        .banner-cta {
          font-size: 15px;
          font-weight: 500;
          width: fit-content;
          border: 4px solid #ffff00;
          padding: 10px 20px;
          transition: all ease 0.3s;
          border-radius: 8px;
          cursor: pointer;
          &.banner-cta:hover {
            border: 4px solid #f5f5f5;
            box-shadow: 4px 6px 0px 0px rgba(255, 255, 255, 1);
          }
          &.v2 {
            background-color: #f5f5f5;
            color: #1a1a1a;
            border: none;
            border-radius: 8px;
            align-items: center;
            text-align: center;
            justify-content: center;
            display: flex;
          }
          &.v2:hover {
            background-color: #ffff00;
            transform: transition ease 0.3s;
            color: #1a1a1a;
            border: none;
          }
        }
      }
    }
  }
}
