@import "../../css-config/mixins.scss";

.main-content {
  @include md {
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
  }
  @include sm {
    padding-left: 20px;
    padding-right: 20px;
  }
}
